.heroForm {
  width: 60%;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.heroFormActive{
  width: 90%;
}

.heroInput {
  width: 60%;
  transition: width 0.3s ease-in-out;
  position: relative;
  flex: 1;
}

.heroFormActive .heroInput{
  width: 90%;
}