.banner-grid{
  @apply w-[90%] my-3 mx-auto grid grid-flow-dense gap-1 overflow-x-auto scroll-smooth;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  scrollbar-width: none;
}

.banner-grid__img{
  @apply block w-full h-full rounded-xl object-fill;
}

.big{
  @apply col-span-2 row-span-2;
}

.small{
  @apply col-span-1 row-span-1;
}