.home-main{
  @apply h-screen pb-2;
}
.home-banner__container{
  @apply w-[90%] max-h-56 my-3 mx-auto rounded-xl overflow-hidden;
}

.home-banner__img{
  @apply block w-full h-full;
}

.home-washing__container{
  @apply w-[90%] max-h-64 my-3 mx-auto rounded-xl overflow-hidden;
}

.home-img__washing{
  @apply block w-full h-full object-fill;
}

.home-categ{
  @apply w-[90%] my-0 mx-auto overflow-hidden;
}

.banner-earphones{
  @apply w-[90%] h-40 my-3 mx-auto rounded-lg overflow-hidden;
}

.banner-earphones__img{
  @apply block w-full h-full object-fill;
}

.banners-promo{
  @apply grid grid-cols-2 gap-4 w-[90%] my-3 mx-auto;
}

.banners-promo__img{
  @apply block w-full h-40 rounded-lg object-fill;
}

.payment-method__container{
  @apply w-[90%] my-3 mx-auto;
}

.payment-method__ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 50px));
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  overflow: hidden;
  margin: 12px 0;
}

.payment-method__tittle{
  @apply text-center text-lg font-bold text-color-texto italic;
}

.payment-method__img{
  @apply block w-full h-full object-cover;
}