.section-brands{
  @apply mt-4;
}
.section-brands__ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 4px;
}
.section-brands__container{
  @apply w-[90%] my-3 mx-auto;
}

.section-brands__title{
  @apply text-lg font-semibold mb-4;
}

.section-brands__link{
  @apply block w-20 h-20 overflow-hidden border rounded-lg;
}

.section-brands__img{
  @apply block w-full h-full object-fill;
}