.heroForm {
  width: 100%;
  padding-right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-out;
}

.heroFormActive .heroInput{
  width: 100%;
  padding-right: 3rem;
}

.heroButton{
  max-width: 28px;
  height: 28px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 0;
  left: 85%;
}

.heroFormActive .heroButtonSearch{
  right: 0;
  left: 90%;
}

.heroFormActive .heroButtonClear{
  right: 0;
  left: 80%;
}