@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0099ff;
  --color-secundary: #fff;
  --color-texto: #000000;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font-poppins), var(--font-roboto);
}